<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Information</title>
  </head>
  <body>
    <h1>Students:</h1>
    <table border="2">
      <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last NAME</th>
        <th>Test Score</th>
      </thead>
      {% for student in students%}
      <tr>
        <td>{{student.id}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.testScore}}</td>
        <td><a href="/delete/{{student.id}}">Delete</a></td>
        <td><a href="/update/{{student.id}}">Update</a></td>
      </tr>
      {%endfor%}
    </table>
    <br/><br/><br/>
    <a href="/create">Add Student</a>
    <a href="/accounts/logout">Logout</a>
  </body>
</html>
